* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: #fbfcfc;
}


.nav {
    height: 12vh;
    padding: 3vh 8vw;
    text-align: center;
    background-color: white;
}

.nav a {
    color: #5c6b75;
    text-decoration: none;
    margin: 0 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
}

.logo {
    float: left;
    font-size: 3vh !important;
    font-weight: bold;
    color: #52616b !important;
}

.username {
    float: right;
    padding: 1.5vh 1.2vw;
    border-radius: 1vh;
    background-color: #e8f7ff;
    color: #159ee8 !important;
    font-size: 1.4vh !important;
    font-weight: bold;
}


.left {
    position: absolute;
    left: 12vw;
    top: 30vh;
}

.left h1 {
    margin: 0 0 1vh 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    line-height: 1.35;
    color: #52616b;
}

.left span {
    color: #079fe8;
}

.left p {
    margin: 0 0 3vh 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
    line-height: 1.4;
    color: #a0a5a8;
}

.left button {
    padding: 1.8vh 2.5vw;
    background-color: #20aef5;
    border: none;
    border-radius: 1.5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
    font-weight: bold;
}


.right {
    position: absolute;
    right: 40vw;
    top: 28vh;
}

.right img {
    width: 20vw;
    height: auto;
    display: block;
     mix-blend-mode:multiply;
}